.container {
    border: 1px solid yellow
}

.label {
    height: 30px;
    font-size: 35px;
    /* width: 50%; */
}

.question {
    display: block;
    text-align: center;
}

.inputsContainer {
    margin-top: 5px;
}

/* .input,
.select,
.textarea {
    text-align: center;
    display: block;
    margin: auto;
    height: 20px;
} */


.textarea,
.textarea1 {
    min-width: 250px;
    max-width: 250px;
    min-height: 30px;
    max-height: 30px;
}