.container{
    /* border: 1px solid red; */
    margin: 0px auto;
    text-align: center;
    width: 30%;
    padding-bottom: 50px;
}
.h1{
    font-size: 50px;
}
.form{
    border: 3px solid gray;
    /* height: 400px; */
        border-radius:10%;
}
.inputContainers{
    display: flex;
    gap:10px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 5px 5px 10px 20px;
    height:70px;
 align-items: center;
}
.textContainer{
margin-top: -20px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 5px 5px 10px 20px;
    height: 70px;
    align-items: center;
}
.label{
    height:30px;
    font-size: 35px;
    /* width: 50%; */
    margin-inline-end: 10px;
}
.input,.select{
        text-align: center;
        margin: auto;
        margin-inline-end: 30px;
        height: 20px;
}

.select{
    width:170px
}

    
.p{
    font-size: 14px;
}


@media screen and (max-width:1200px) {
    .container{
        padding:20px;
        padding-bottom: 50px;
    }
        .form{
        padding-bottom: 20px;
        text-align: center;
        }
    .inputContainers{
        display: block;
        align-items: center;
        text-align: center;
    }
    .label{
        display: block;
        
    }
    .input{
        border: 1px solid yellow;
        margin-top: 10px;
        align-self: center;
        margin-inline-end: 0px;
    }
    .select{
        margin-top: 10px;
            align-self: center;
            margin-inline-end: 0px;
    }
}